<div class="page-header">
  <h2>Composition of channel <%= @channel.name %></h2>
</div>

<div class="row">
  <div class="span4 columns">
    <p>
    Add environment to your channel here. An environment can be assigned to only one chanel.
    </p>
  </div>
  <div class="span12 columns">
    <p id="notice"><%= notice %></p>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Order</th>
          <th>Administration</th>
        </tr>
      </thead>
      <tbody>
        <% @channel.applications.each do |app| %>
          <tr>
            <td><%= app.environment.name %></td>
            <td><%= app.position %></td>
            <td><%= link_to "Up", app.first? ? "#" : move_up_channel_application_path(@channel,app), :method => :put,
                            :class => "btn #{"disabled" if app.first?}" %>
            <%= link_to "Down", app.last? ? "#" : move_down_channel_application_path(@channel,app), :method => :put, 
                        :class => "btn #{"disabled" if app.last?}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="well">
       <%= link_to 'Add an environement', new_channel_application_path(@channel), :class => "btn primary" %> or
      <%= link_to 'Back to Channels', channels_path, :class => "btn" %>
    </div>
   
  </div>
</div>