<%= simple_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :short_description %>
  </div>
  
  <div class="inputs">
    <%= f.input :description %>
  </div>
  

  <div class="actions">
    <%= link_to "Cancel", projects_path, :class => "btn" %> or 
    <%= f.submit :class => "btn primary"%>
  </div>
<% end %>
