<h2>Listing projects</h2>

<%= link_to 'Create Project', new_project_path, :class => "btn primary" %>

<table class="common-table zebra-striped">
  <tr>
    <th>Name</th>
    <th>Latest action</th>
    <th>Avancement</th>
    <th>Administration</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Show', project %>&nbsp;|&nbsp;
    <%= link_to 'Edit', edit_project_path(project) %>&nbsp;|&nbsp;
    <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>



