<div class="page-header">
  <h2><%= @project.name %></h2>
</div>

<% @channels.each do |channel| %>
  <h3><%= channel.name  %> Versions</h3>

  <%= render :partial => "versions/project_versions", 
            :locals => {:project => @project, :versions => @project.versions.for_channel(channel), :channel => channel}  %>
<% end %>

<div class="well">
  <%= link_to "New Versions", new_project_version_path(@project), :class => "btn primary" %> or 
  <%= link_to "Back to Projects", projects_path, :class => "btn" %>
</div>


<p id="notice"><%= notice %></p>

