<div class="page_header">
  <h2>
    <%= @project.name %> : v<%= @version.version %>
    <small><%= @version.channel.name %></small>
  </h2>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6">
    <h3>Status</h3>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "application", :collection => @applications %>
      </tbody>
    </table>
  </div>
  <div class="span10">
    <h3>History</h3>
  </div>
</div>

<div class="well">
  <%= link_to "Back to #{@project.name}", project_path(@project), :class => "btn" %>
</div>