<%= simple_form_for(@environment) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :version %>
  </div>
  
  <div class="inputs">
    <h5>Attributes</h5>
    <%= f.input :ask_deliver %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", environments_path, :class => "btn" %> or 
    <%= f.button :submit, :class => "primary" %>
  </div>
<% end %>
