<div class="page-header">
  <h2>Listing environments</h2>
</div>

<table class="zebra-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Administration</th>
  </tr>
  </thead>
  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td><%= link_to environment.name, environment_path(environment) %></td>
        <td><%= environment.version %></td>
        <td><%= link_to 'Edit', edit_environment_path(environment) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', environment, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well">
  <%= link_to 'New Environment', new_environment_path, :class => "btn primary" %>
</div>

